.content {
  background-color: #EEEEEE;
  width: 100%;
  &--noflow {
    overflow: hidden;
  }
  &--noflowsmall {
    @media only screen and (max-width: 768px) {
      overflow: hidden;
    }
  }
  &__class {
    padding: 1em;
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.75);
    overflow: auto;

  }
  &__right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  &__subjecttitle {
    margin-left:0.6em;
    font-size: 30px;
    font-weight:bold;
    margin-top:20px;
  }
  &__text {
    font-weight: lighter;
    font-size: 1.98em;
    padding: 0 0.8em;
    &--title {
      font-weight: bold;
      font-size: 2.4em;
      float: none;

      padding-left: 0.4em;
    }
    &--subtitle {
      font-size: 2.0em;
      float: none;
      padding-left: 0.4em;
    }
  }
  &__add {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    margin: 0;
    transition: width 0.35s, background-color 0.35s;
    &:hover {
      width: 150px;
      cursor: pointer;
    }
  }
}
